*{
    box-sizing: border-box;
    font-family: 新細明體;
    font-size: 20px;
    body{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}

.container{
    margin: 2vh 0 0 ;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3.5px dashed rgb(9, 233, 233);
    .header{
        // background-color: #154;
        // border: 1px solid #000;
        width: 70vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .big_title{
        font-size: 50px;
        color: #0000ff;
        font-weight:bold;
        }
        .text_1 ,.text_2{
        font-size: 30px;
        font-weight: 900;
        margin: 1.5vh;
        font-family: 微軟正黑體;
        }
        .text_2{
            margin: 4vh 0 0;
        }
    }

    .my_number{
        // border: #000 solid 1px;
        width: 100%;
        height: 18vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .enter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 70vw;
            height: 12vh;
            // border: #000 solid 1px;
            .my{
                font-weight: 900;
                margin: 0 0.5vw ;
            }
            .tT{
                border: #03c703 dashed 3px;
                width: 10vw;
            }
            .btn{
                background-color: #00f7ff;
                height: 40px;
                margin: 0 0.5vw;
                border: 0;
                cursor: pointer;
                font-weight: 900;
                color: #00f;
            }
            #hight{
                text-align: center;
            }
            #weight{
                text-align: center;
            }
            .result{
                border: #00f7ff dashed 3px;
            }
        }
        .output{
            width: 70vw;
            // border: #000 solid 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 0 6vh 0;
            .result{
                width: 30vw;
                height: 40px;
                border: #00f7ff dashed 3px;
                text-align: center;
                line-height: 40px;
            }
        }
    }

    .sheet{
        border: #00f7ff dashed 3px;
        width: 50vw;
        height: 31.7vh;
        font-weight: 900;
        text-align: center;
        tr{
            
            height: calc(30vh / 7);
        }
        td{
            border: #00f7ff dashed 3px;
            width: calc(50vw / 3);
        }
        .ttd{
            border: #00f7ff dashed 3px;
            height: calc(30vh / 7);
            width:49.2vw;
            position: absolute;
            top: 45.7%;
            left: 25.4%;
        }
        }
}