* {
    box-sizing: border-box;
    body{
        margin: 0;
        padding: 0;
    }
}

.C_fluid{
    overflow: hidden;
    @keyframes MOV1 {
        0%{
            transform: rotate(35deg);
        }
        25%{
            text-shadow: 0 0 10px #ffffff00;
            transform: scale(1.3);
        }
        50%{
            transform: rotate(-35deg);
        }
        75%{
            transform: rotate(0deg);
            transform: scale(1.3);
        }
        100%{
            transform: rotate(35deg);
        }
    }
    @keyframes MOV2 {
        0%{
            text-shadow: 0 0 0px #ffffff00;
        }
        50%{
            text-shadow: 0 0 10px #ffffff99;
        }
        100%{
            text-shadow: 0 0 0px #ffffff00;
        }
    }
    @keyframes MOV3 {
        0%{
            text-shadow: 0 0 0px #ffffff00;
        }
        50%{
            text-shadow: 0 0 10px #ffffff99;
            transform: scale(1.1);
        }
        100%{
            text-shadow: 0 0 0px #ffffff00;
        }
    }
    .nav{
        padding: 0 10vw;
        .LOGO{
            width: 180px;
            height: 90px;
            // background-color: #5665;
            border: #000000 2px solid;
            background-image: url(../IMG_0806.GIF);
            background-repeat: no-repeat;
            background-size: cover;
            transition: 0.3s;
            &:hover{
                transform: scale(1.2);
            }
        }
        .nav-link{
            margin:1vw;
            transition: 0.3s;
            &:hover{
                font-size: 18px;
                font-weight: 600;
            }
        }
        .ri{
            margin: 1vw;
        }
    }

    .banner{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        .MyTop{
            display: flex;
            flex-direction: column;
            align-items: center;
            .DD{
                padding: 10vh 0 8vh;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                // background-color: #829789;
                background-image: url(../BGC.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                width: 100vw;
                .MyPhoto{
                    background-image: url(../嘉毓.png);
                    
                    background-color: #fff;
                    width: 250px;
                    height: 250px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-bottom: 5vh;
                    border: #5d7968 5px solid;
                    margin: 0 2vw;
                    border-radius: 50%;
                    transition: 0.3s;
                    
                    animation: infinite linear MOV3 5s;
                    &:hover{
                        transform: scale(1.1) rotate(35deg);
                    }
                }
                .CC{
                    margin: 0 0.5vw;
                    padding: 1vw;
                    // background-color: #fff;
                    // width: 300px;
                    // height: 200px;
                    // opacity: 0.5;
                    z-index: 1;
                    .namer{
                        font-size: 36px;
                        color: #163a25;
                        font-weight: 600;
                        opacity: 1;
                    }
                    .MyEn{
                        font-size: 22px;
                        color: #000000;
                        margin-bottom: 2vh;
                        opacity: 1;
                    }
                    .MyTitle{
                        font-size: 18px;
                        color: #000000;
                        font-weight: 600;
                        margin-bottom: 5vh;
                        letter-spacing: 10px;
                        opacity: 1;
                    }
                }
                .XX{
                    background-color: #fff;
                    width: 300px;
                    height: 200px;
                    opacity: 0.7;
                    position: absolute;
                    left: 52vw;
                    
                }
            }
            
            .MyText{
                height: 300px;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                margin-bottom: 5vh;
                color: #829789;
                animation: infinite linear MOV3 8s;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .MYY{
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 5vh;
                    color: #5d7968;
                }
            }
        }
        .Myicon{
            background-color: #5d7968;
            background-image: url(../BBG.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #5d7968;
            width: 100vw;
            padding: 10vw;
            .AA{
                font-size: 36px;
                color: #FFF;
                position: relative;
                &::before{
                    content: '';
                    background-color: #ffffff;
                    position: absolute;
                    width: 500px;
                    height: 2px;
                    top: 10vh;
                    left: -300%;
                }

            }
            .BB{
                font-size: 24px;
                color: #ffffff;
                margin: 5px 0 5vh;
                // text-shadow: 0 0 3px #FF0000;
                animation: infinite linear MOV2 3s;
            }
            .tt{
                opacity: 1;
                width: 100px;
                color: #fff;
                position: relative;
                text-align: center;
                top: 100px;
            }
            .ttt{
                font-size: 20px;
                color: #fff;
                font-weight: 900;
                margin-right: 2vw;
                display: none;
            }
            .ttt1{
                font-size: 20px;
                color: #fff;
                font-weight: 900;
                margin-left: 2.5vw;
                display: none;
            }
            .to1{
                background-image: url(../DIS.PNG);
                width: 300px;
                height: 300px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: 10px;
                margin-right: 4vw;
            }
            .to3{
                background-image: url(../CODE.PNG);
                width: 300px;
                height: 300px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: 10px;
                margin-right: 4vw;
            }
            .to2{
                background-image: url(../OFF.PNG);
                width: 300px;
                height: 300px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: 10px;
                margin-left: 4vw;
            }
            .ITP,
            .IBT{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .ICONN{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 2vh;
                
                .DS{
                    margin: 5vh 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .IcoMG{
                        animation: infinite linear MOV1 5s;
                        margin: 0 1vw;
                        transition: 0.3s;
                    }
                    .IC{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        .PS{
                            width: 80px;
                            height: 80px;
                            background-image: url(../icon/PS.PNG);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        .AI{
                            width: 80px;
                            height: 80px;
                            background-image: url(../icon/AI.PNG);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        .PRO{
                            width: 80px;
                            height: 80px;
                            background-image: url(../icon/PRO.PNG);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        .AF{
                            width: 80px;
                            height: 80px;
                            background-image: url(../icon/FR.PNG);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .T5{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin: -5vh 1vw;
                    }
                    }
                    
                }
                .WD{
                    .IcoMG{
                        animation: infinite linear MOV1 5s;
                        margin: 0 1vw;
                        transition: 0.3s;
                    }
                    margin: 10vh 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .IC{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        .WO{
                            width: 80px;
                            height: 80px;
                            background-image: url(../icon/WO.PNG);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        .EX{
                            width: 80px;
                            height: 80px;
                            background-image: url(../icon/EX.PNG);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                        .PP{
                            width: 80px;
                            height: 80px;
                            background-image: url(../icon/PP.PNG);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                    .T5{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin: -5vh 1vw;
                    }
                    
                }
                .CD{
                    .IcoMG{
                        animation: infinite linear MOV1 5s;
                        margin: 0 1vw;
                        transition: 0.3s;
                    }
                    .T5{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin: -5vh 1vw;
                    }
                    margin: 5vh 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    .IC{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    .HT{
                        width: 80px;
                        height: 80px;
                        background-image: url(../icon/HT5.PNG);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .CS{
                        width: 80px;
                        height: 80px;
                        background-image: url(../icon/CS.PNG);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .SCS{
                        width: 80px;
                        height: 80px;
                        background-image: url(../icon/SCS.PNG);
                        background-repeat: no-repeat;
                        background-size: contain;
                        }
                    }
            }
            }
        }
        .MyLink{
            .WW{
                background-color: #ffffffDD;
                padding-top: 6vh;
                width: 100vw;
                p{
                    text-align: center;
                }
                .QQ{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &::before{
                        content: '';
                        background-color: #163a25;
                        position: absolute;
                        width: 500px;
                        height: 2px;
                        top: -1vh;
                    }
                }
                a{
                    font-size: 50px;
                    color: #163a25;
                    margin: 0 2vw;
                    transition: 0.3s;
                    animation: infinite linear MOV3 2s;
                    &:hover{
                        color: #a2bead;
                        transform: scale(1.5);
                    }
                }
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            color: #163a25;
            font-weight: 700;
            background-image: url(../BGC.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            width: 100vw;
        }
    }

    @keyframes MMOV {
        0%{
            left: 5vh ;
            top: 0vh;
        }
        25%{
            left: 10vh ;
            top: -5vh;
        }
        50%{
            left: -10vh ;
            top: 0vh;
        }
        75%{
            left: -5vh ;
            top: -5vh;
        }
        100%{
            left: 5vh ;
            top: 0vh;
        }
    }
    @keyframes MMOV2 {
        0%{
            left: 10vh ;
            top: 0vh;
        }
        25%{
            left: 20vh ;
            top: -5vh;
        }
        50%{
            left: 35vh ;
            top: -10vh;
        }
        75%{
            left: 10vh ;
            top: -5vh;
        }
        100%{
            left: 10vh ;
            top: 0vh;
        }
    }
    @keyframes MMOV3 {
        0%{
            left: 00vh ;
            top: -5vh;
        }
        25%{
            left: -35vh ;
            top: -15vh;
        }
        50%{
            left: 2vh ;
            top: -20vh;
        }
        75%{
            left: -30vh ;
            top: -5vh;
        }
        100%{
            left: 0vh ;
            top: -5vh;
        }
    }
    @keyframes MMOV4 {
        0%{
            left: 00vh ;
            top: -5vh;
        }
        25%{
            left: -10vh ;
            top: -10vh;
        }
        50%{
            left: 30vh ;
            top: -20vh;
        }
        75%{
            left: 20vh ;
            top: -15vh;
        }
        100%{
            left: 0vh ;
            top: -5vh;
        }
    }

    .mainer{
        background-color: #3a4d41;
        background-image: url(../DDS.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100vw;
        height: 600px;
        color: #fff;
        font-size: 20px;
        padding: 10vh 0 15vh;
        .TITLE{
            text-align: center;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 2vh;
        }
        .TEXT{
            text-align: center;
            margin-bottom: 5vh;
        }
        .MM{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            .TP{
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                    }
                    .planning{
                        position: relative;
                        animation: infinite linear MMOV 30s;
                        border-radius: 50%;
                        width: 200px;
                        height: 200px;
                        background-color: #ffffff99;
                        // background-image: url(../122653.png);
                        // background-repeat: no-repeat;
                        // background-size: cover;
                        // background-attachment: fixed;
                        line-height: 200px;
                        text-align: center;
                        font-size: 36px;
                        font-weight: 600;
                        color: #000000;
                        margin: 0 10px;
                        transition: 0.3s;
                        text-decoration: none;
                        &:hover{
                        border-radius: 0%;
                        background-image: url(../WK.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-attachment: fixed;
                        color: #fff;
                        text-shadow: rgb(0, 0, 0) 0px 0px 10px;
                        width: 320px;
                        height: 170px;
                        line-height: 170px;
                        animation-play-state: paused;
                        }
                        
                    }
                    .design{
                        position: relative;
                        animation: infinite linear MMOV2 20s;
                        border-radius: 50%;
                        background-color: #ffffff99;
                        width: 200px;
                        height: 200px;
                        // background-image: url(../122653.png);
                        // background-repeat: no-repeat;
                        // background-size: cover;
                        // background-attachment: fixed;
                        line-height: 200px;
                        text-align: center;
                        font-size: 36px;
                        font-weight: 600;
                        color: #000000;
                        transition: 0.3s;
                        &:hover{
                            border-radius: 0%;
                            background-image: url(../DISS.jpg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-attachment: fixed;
                            color: #fff;
                            text-shadow: rgb(0, 0, 0) 0px 0px 10px;
                            width: 420px;
                            height: 170px;
                            line-height: 170px;
                            animation-play-state: paused;
                        }
                    }
                }
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin: 5px;
                
            }
            .BT{
                margin: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                    }
                    .code{
                        position: relative;
                        animation: infinite linear MMOV3 40s;
                        border-radius: 50%;
                        background-color: #ffffff99;
                        margin: 0 10px;
                        width: 200px;
                        height: 200px;
                        // background-image: url(../122653.png);
                        // background-repeat: no-repeat;
                        // background-size: cover;
                        // background-attachment: fixed;
                        line-height: 200px;
                        text-align: center;
                        font-size: 36px;
                        font-weight: 600;
                        color: #000000;
                        transition: 0.2s;
                        transition: 0.3s;
                        &:hover{
                            border-radius: 0%;
                            background-image: url(../COD.jpg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-attachment: fixed;
                            color: #fff;
                            text-shadow: rgb(0, 0, 0) 0px 0px 10px;
                            width: 320px;
                            height: 170px;
                            line-height: 170px;
                            animation-play-state: paused;
                            }
                    }
                    .Project{
                        position: relative;
                        animation: infinite linear MMOV4 30s;
                        border-radius: 50%;
                        background-color: #ffffff99;
                        width: 200px;
                        height: 200px;
                        // background-image: url(../122653.png);
                        // background-repeat: no-repeat;
                        // background-size: cover;
                        // background-attachment: fixed;
                        line-height: 200px;
                        text-align: center;
                        font-size: 36px;
                        font-weight: 600;
                        color: #000000;
                        transition: 0.3s;
                        &:hover{
                            border-radius: 0%;
                            background-image: url(../PR.jpg);
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-attachment: fixed;
                            color: #fff;
                            text-shadow: rgb(0, 0, 0) 0px 0px 10px;
                            width: 320px;
                            height: 170px;
                            line-height: 170px;
                            animation-play-state: paused;
                            }
                    }
                }
                
            }
        }
    }

    .foot{
        display: flex;
        flex-direction: column;
        align-items: center;
        .text{
            padding: 10vh 0 5vh;
            font-size: 18px;
            text-align: center;
            font-weight: 600;
        }
        .age{
            background-color: #0b130e;
            width: 100vw;
            color: #b6e2c5;
            font-size: 12px;
            text-align: center;
            line-height: 30px;
            height: 30px;
        }
    }
    