*{
    box-sizing: border-box;
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
    body,ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            cursor: pointer;
            
        }
        .index{
            margin: 0;
            padding: 0;
            padding: 0 10%;
            margin: 0 auto;
            .container{
                overflow: hidden;
                max-width:1600px;
                background-color: #aaaaaa;
                .header{
                    padding: 0;
                    margin: 0;
                    background-color: #fff;
                    nav{
                        height: 55px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 1vw;
                        .menu_left{
                            width: calc((100% / 2) - 10px);
                            height: 100%;
                            /* background-color: #EEEEEE; */
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .logo{
                                /* background-color: #fff; */
                                width: 150px;
                                height: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                cursor: pointer;
                                .logo_image{
                                    /* background-color: #AA14; */
                                    background-image: url(../image/LOGO.png);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    width: 120px;
                                    height: 100%;
                                    .left_ul,.right_ul{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                    }

                                }
                                
                            }

                        }

                    }

                }

            }

        }
        
    }
}